@import "variables";

$months: 28, 29, 30, 31;

@each $month in $months {
  @for $i from 1 through $month {
    .calendar-#{$month} div:nth-child(#{$i}) {
      position: relative;
      @include main-box;
      margin: 1px;
      top: 0;
      transition: all 0.5s ease-out;

      &::before {
        content: "#{$i}";
        display: block;
        font-family: Arial, sans-serif;
        font-size: 30px;
        text-align: center;
        line-height: 100px;
      }

      &:hover {
        background-color: pink;
        cursor: pointer;
        top: -20px;
      }
    }
  }
}
