@import "variables";

$months: 28, 29, 30, 31;

@each $month in $months {
  .calendar-#{$month} div:nth-child(-n + #{$month}) {
    display: block;
  }
}

@each $month in $months {
  @for $i from 1 through $month {
    .calendar-#{$month} div:nth-child(#{$i})::before {
      content: "#{$i}";
    }
  }
}
