@import "calendar";
@import "calendar_month";
@import "calendar_day";
@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
}
